*{
  margin: 0;
  padding: 0;
}


.button {
  float: right;
  color: black;
  text-align: center;
  margin:20px;
  padding: 10px;
  text-decoration: none;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdwn-content {
  display: none;
  position: relative;
  background-color: black;
  min-width: 10px;
  text: white;
}

.dropdwn-content a{
  color:white;
  padding: 15px;
  display: block;
}

 .dropdwn-content a:hover{
  background-color: gold;
}

.dropdown:hover .dropdwn-content{
  display: block;
}

.dropdwn:hover .button{
  background-color: gray;
}
