*{
  margin: 0;
  padding: 0;
}


ul {
  float:right;
  overflow:hidden;
  list-style-type:none;
  margin-top:50px;
}



li a, .button{
  margin:5px;
  padding:15px 50px;
  text-decoration:none;
  color:silver;
  text-align:center;
  display: inline-block;
}

li a:hover, .contain:hover .button{
  background-color:black;
}

li.contain{
  display:inline-block;
}

.things{
  display:none;
  position:absolute;
  background-color:silver;
  min-width:45px;
}
.things a{
  color:yellow;
  padding:10px 40px;
  text-decoration: none;
  display:block;
  text-align:left;

}

.things a:hover{background-color:gold;}
.contain:hover .things{ display:block;}
img{
  float:right;
}
